*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video {
  max-width: 100%;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}

/* font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif; */
:root {
  --background-color: #718083;
  --christianshavn: #8e5951;
  --xenon: #d3a285;
  --anemonen: #a8b1b3;
  --vox: #586466;
  --zeppelin: #cdaca8;
  --font: white;
}

body {
  background-color: var(--background-color);
}

img {
  margin-top: 50px;
  width: 300px;
  height: auto;
  display: grid;
}
h2 {
  font-family: oswald;
  font-size: 40px;
  color: var(--font);
}

h3 {
  font-family: quicksand;
  color: white;
  font-size: medium;
}

h4 {
  font-family: quicksand;
  font-size: 25px;
  color: white;
}

p {
  font-family: quicksand;
  color: var(--font);
}
button {
  font-family: quicksand;
  color: var(--font);
  font-weight: 700;
  cursor: pointer;
  margin-top: 0.5rem;
}

button:hover {
  text-shadow: 1px 1px 6px rgb(27, 68, 58);
}

.program_h2 {
  text-align: center;
  font-size: x-large;
}

.program_p {
  text-align: center;
  font-size: medium;
  margin-inline: 1rem;
  margin-top: 0.5rem;
}

main {
  max-width: 1000px;
  margin: 2rem;
}

.programmet {
  /* display: grid; */
  justify-items: center;
  /* grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
}

.forestilling {
  max-width: 75vw;
}

.christianshavn_h4 {
  background-color: var(--christianshavn);
  font-size: large;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 2px;
  border: 1px solid;
  margin-bottom: 0.5rem;
  width: 15rem;
}

.xenon_h4 {
  background-color: var(--xenon);
  font-size: large;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 2px;
  border: 1px solid;
  margin-bottom: 0.5rem;
  width: 15rem;
}

.vox_h4 {
  background-color: var(--vox);
  font-size: large;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 2px;
  border: 1px solid;
  margin-bottom: 0.5rem;
  width: 15rem;
}

.anemonen_h4 {
  background-color: var(--anemonen);
  font-size: large;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 2px;
  border: 1px solid;
  margin-bottom: 0.5rem;
  width: 15rem;
}

.zeppelin_h4 {
  background-color: var(--zeppelin);
  font-size: large;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 2px;
  border: 1px solid;
  margin-bottom: 0.5rem;
  width: 15rem;
}

.second_section {
  margin-top: 4rem;
}

hr {
  border: 1px solid var(--vox);
  margin-top: 1rem;
}

.oversigt {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.oversigt_h3 {
  margin-top: 3rem;
  font-size: small;
}

.oversigt_h4 {
  font-size: medium;
  font-weight: 800;
}

.p_oversigt {
  margin-top: 8px;
}

#dag_oversigt {
  width: 40vw;
  height: 30vh;
  padding: 1rem;
  margin-top: 1rem;
}

.dag_oversigt_chrisitanshavn {
  background-color: var(--christianshavn);
}

.dag_oversigt_vox {
  background-color: var(--vox);
}

.dag_oversigt_anemonen {
  background-color: var(--anemonen);
}

.dag_oversigt_zeppelin {
  background-color: var(--zeppelin);
}

.dag_oversigt_xenon {
  background-color: var(--xenon);
}

b {
  font-weight: 700;
}
