*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video {
  max-width: 100%;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}

/* font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif; */
:root {
  --background-color: #718083;
  --christianshavn: #8e5951;
  --xenon: #d3a285;
  --anemonen: #a8b1b3;
  --vox: #586466;
  --zeppelin: #cdaca8;
  --font: white;
}

body {
  background-color: var(--background-color);
}

img {
  margin-top: 50px;
  width: 300px;
  height: auto;
  display: grid;
}
h2 {
  font-family: oswald;
  font-size: 40px;
  color: var(--font);
}

h3 {
  font-family: quicksand;
  color: white;
  font-size: medium;
}

h4 {
  font-family: quicksand;
  font-size: 25px;
  color: white;
}

p {
  font-family: quicksand;
  color: var(--font);
}
button {
  font-family: quicksand;
  color: var(--font);
  font-weight: 700;
  cursor: pointer;
  margin-top: 0.5rem;
}

button:hover {
  text-shadow: 1px 1px 6px rgb(27, 68, 58);
}

.program_h2 {
  text-align: center;
  font-size: x-large;
}

.program_p {
  text-align: center;
  font-size: medium;
  margin-inline: 1rem;
  margin-top: 0.5rem;
}

main {
  margin: 2rem;
  display: grid;
  justify-content: center;
}

.programmet {
  /* display: grid; */
  justify-items: center;
  /* grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
}

.forestilling {
  max-width: 75vw;
}

.christianshavn_h4 {
  background-color: var(--christianshavn);
  font-size: large;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 2px;
  border: 1px solid;
  margin-bottom: 0.5rem;
  width: 15rem;
  cursor: pointer;
}

.xenon_h4 {
  background-color: var(--xenon);
  font-size: large;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 2px;
  border: 1px solid;
  margin-bottom: 0.5rem;
  width: 15rem;
  cursor: pointer;
}

.vox_h4 {
  background-color: var(--vox);
  font-size: large;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 2px;
  border: 1px solid;
  margin-bottom: 0.5rem;
  width: 15rem;
  cursor: pointer;
}

.anemonen_h4 {
  background-color: var(--anemonen);
  font-size: large;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 2px;
  border: 1px solid;
  margin-bottom: 0.5rem;
  width: 15rem;
  cursor: pointer;
}

.zeppelin_h4 {
  background-color: var(--zeppelin);
  font-size: large;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 2px;
  border: 1px solid;
  margin-bottom: 0.5rem;
  width: 15rem;
  cursor: pointer;
}

.first_section {
  max-width: 1000px;
}

.second_section {
  margin-top: 4rem;
  max-width: 1000px;
}

.second_section {
  max-width: 1000px;
}

hr {
  border: 1px solid var(--vox);
  margin-top: 1rem;
}

.oversigt {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.oversigt_h3 {
  margin-top: 3rem;
  font-size: small;
}

.oversigt_h4 {
  font-size: medium;
  font-weight: 800;
}

.p_oversigt {
  margin-top: 8px;
}

#dag_oversigt {
  width: 40vw;
  height: 30vh;
  padding: 1rem;
  margin-top: 1rem;
}

.dag_oversigt_chrisitanshavn {
  background-color: var(--christianshavn);
}

.dag_oversigt_vox {
  background-color: var(--vox);
}

.dag_oversigt_anemonen {
  background-color: var(--anemonen);
}

.dag_oversigt_zeppelin {
  background-color: var(--zeppelin);
}

.dag_oversigt_xenon {
  background-color: var(--xenon);
}

b {
  font-weight: 700;
}

@media (min-width: 650px) {
  .programmet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #dag_oversigt {
    width: 30vw;
    height: 25vh;
    padding: 1rem;
    margin-top: 1rem;
  }

  .oversigt {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }

  .oversigt_h3 {
    margin-top: 3rem;
    font-size: medium;
  }

  .oversigt_h4 {
    font-size: large;
    font-weight: 800;
  }
}

@media (min-width: 900px) {
  .first_section {
    margin-top: 8rem;
  }

  .programmet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .oversigt {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
  }

  #dag_oversigt {
    width: 20vw;
    height: 25vh;
  }
}

@media (min-width: 1050px) {
  #dag_oversigt {
    width: 20vw;
    height: 22vh;
  }
}

@media (min-width: 1200px) {
  #dag_oversigt {
    width: 18vw;
    height: 20vh;
  }
}

/* FOOTER */

footer {
  border: 2px solid white;
}

.text {
  text-align: center;
  padding-top: 80px;
}
.text p {
  padding-top: 10px;
  cursor: pointer;
}
.social {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.face {
  height: 60px;
  width: 40px;
  cursor: pointer;
}
.insta {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.spons {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  cursor: pointer;
}

@media (min-width: 1000px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .social {
    padding-top: 150px;
  }
}

/* BILLET SIDE */

.img_holder {
  display: flex;
  justify-content: center;
}

.billet_side {
  text-align: center;
  margin-top: 1rem;
}

.knap_holder {
  display: grid;
  justify-content: center;
}

.knap_holder button {
  border: 2px solid white;
  border-radius: 30px;
  background-color: var(--christianshavn);
  padding: 0.5rem;
  width: 20vw;
}

/* Style inputs, select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-family: quicksand;
}

form {
  background-color: var(--anemonen);
  padding: 2rem;
  border: 2px solid white;
  margin-top: 2rem;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: oswald;
  color: white;
  font-size: large;
}

/* Style the submit button */
input[type="submit"] {
  background-color: var(--christianshavn);

  color: white;
  padding: 12px 20px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 1rem;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
