*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video {
  max-width: 100%;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}

/* font-family: "Oswald", sans-serif;
font-family: "Quicksand", sans-serif; */
:root {
  --background-color: #718083;
  --christianshavn: #8e5951;
  --xenon: #d3a285;
  --anemonen: #a8b1b3;
  --vox: #586466;
  --zeppelin: #cdaca8;
  --font: white;
  --box: #e8cfc0;
}

body {
  background-color: var(--background-color);
}

img {
  width: 300px;
  height: auto;
  display: grid;
}
h2 {
  font-family: oswald;
  font-size: 40px;
  color: var(--font);
}

h4 {
  font-family: quicksand;
  font-size: 25px;
  color: white;
}
p {
  font-family: quicksand;
  color: var(--font);
}
button {
  font-family: quicksand;
  color: var(--font);
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  text-shadow: 1px 1px 6px rgb(27, 68, 58);
}

.section_1 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.section_2 {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.section_3 {
  height: 140vh;
  background-color: var(--christianshavn);
  margin-top: 50px;
  padding-top: 170px;
}
.section_3 h2 {
  padding-left: 25px;
  padding-bottom: 5px;
}
.section_3 p {
  padding-left: 25px;
  padding-bottom: 370px;
}
.section_3 button {
  display: flex;
  padding-left: 25px;
}
.button_1 {
  background-color: var(--zeppelin);
  border: 1px solid var(--font);
  border-radius: 12px;
  margin-right: 190px;
  margin-left: 20px;
  padding-block: 2px;
  padding-inline: 10px;
}
.button_2 {
  border: 1px solid var(--font);
  border-radius: 12px;
  margin-top: 10px;
  margin-right: 190px;
  margin-left: 20px;
  padding-block: 2px;
  padding-inline: 10px;
}

.section_4 {
  height: 140vh;
  background-color: var(--xenon);
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
}

.skammer_img {
  display: flex;
  justify-content: center;
}
.skammer_1 {
  background-color: var(--christianshavn);
  border: 1px solid var(--font);
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 100px;
  border-radius: 12px;
  padding-block: 2px;
  padding-inline: 10px;
}

.skammer_2 {
  padding-left: 25px;
  padding-top: 20px;
}
.skammer_3 {
  padding-left: 25px;
  font-weight: bold;
}

.wish_img {
  display: flex;
  justify-content: center;
}
.wish_1 {
  border: 1px solid var(--font);
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 100px;
  border-radius: 12px;
  padding-block: 2px;
  padding-inline: 10px;
}

.wish_2 {
  padding-left: 25px;
  padding-top: 20px;
}
.wish_3 {
  padding-left: 25px;
  font-weight: bold;
}

@media (min-width: 600px) {
  .linje_1 {
    display: flex;
  }
  .section_3 {
    flex-basis: 50%;
  }
  .section_3 p {
    padding-right: 20px;
  }
  .skammer_1 {
    margin-right: 80px;
  }
  .section_4 {
    margin-top: 50px;
    flex-basis: 50%;
  }
}
@media (min-width: 1000px) {
  .section_3 {
    height: 80vh;
    padding-top: 80px;
  }
  .section_3 p {
    padding-right: 200px;
    padding-bottom: 300px;
  }
  .button_1,
  .button_2 {
    margin-right: 450px;
  }
  .section_4 {
    display: flex;
  }
  .skammer_1 {
    margin-right: 5px;
  }
  .wish_1 {
    margin-right: 5px;
  }
  .section_4 {
    height: 80vh;
  }
}

.section_5 {
  display: none;
  height: 140vh;
  background-color: var(--anemonen);
  margin-top: 0px;
  padding-bottom: 475px;
}

.section_6 {
  height: 140vh;
  background-color: var(--box);
  padding-top: 180px;
  padding-bottom: 10px;
}
.section_6 h2 {
  padding-left: 25px;
  padding-bottom: 5px;
}
.section_6 p {
  padding-left: 25px;
  padding-bottom: 430px;
}
.section_6 button {
  margin-left: 25px;
  border: 1px solid var(--font);
  border-radius: 12px;
  padding-block: 2px;
  padding-inline: 10px;
}

@media (min-width: 600px) {
  .linje_2 {
    display: flex;
  }
  .section_5 {
    display: block;
    flex-basis: 50%;
  }
  .section_6 {
    flex-basis: 50%;
  }
  .section_6 p {
    padding-right: 20px;
  }
}

@media (min-width: 1000px) {
  .section_5 {
    height: 80vh;
  }
  .section_6 {
    height: 80vh;
    padding-top: 80px;
  }
  .section_6 p {
    padding-bottom: 330px;
  }
}

.section_7 {
  height: 140vh;
  background-color: var(--zeppelin);
  padding-top: 180px;
}
.section_7 h2 {
  padding-left: 25px;
  padding-bottom: 5px;
}
.section_7 p {
  padding-left: 25px;
  padding-bottom: 430px;
}
.section_7 button {
  margin-left: 25px;
  border: 1px solid var(--font);
  border-radius: 12px;
  padding-block: 2px;
  padding-inline: 10px;
}

.section_8 {
  display: none;
  height: 140vh;
  background-color: var(--christianshavn);
  margin-top: 0px;
  padding-bottom: 475px;
}

@media (min-width: 600px) {
  .linje_3 {
    display: flex;
  }
  .section_7 {
    flex-basis: 50%;
  }
  .section_8 {
    flex-basis: 50%;
  }
}

@media (min-width: 1000px) {
  .section_7 {
    height: 80vh;
    padding-top: 80px;
  }
  .section_7 p {
    padding-bottom: 360px;
  }
}

.section_9 {
  display: flex;
  justify-content: center;
  height: 140vh;
  background-color: var(--vox);
  margin-top: 0px;
}

.section_10 {
  text-align: center;
  padding-top: 380px;
  height: 140vh;
  background-color: var(--zeppelin);
  font-size: 40px;
}
@media (min-width: 600px) {
  .linje_4 {
    display: flex;
  }
  .section_9 {
    flex-basis: 50%;
  }
  .section_10 {
    flex-basis: 50%;
  }
}

@media (min-width: 1000px) {
  .section_9 {
    height: 80vh;
  }
  .section_10 {
    height: 80vh;
    padding-top: 300px;
  }
}

@media (min-width: 1200px) {
  .section_7 {
    padding: 3rem;
  }
}
@media (min-width: 1200px) {
  .section_6 {
    padding: 3rem;
  }
}
@media (min-width: 1200px) {
  .section_3 {
    padding: 3rem;
  }
}

.text {
  text-align: center;
  padding-top: 80px;
}
.text p {
  padding-top: 10px;
  cursor: pointer;
}
.social {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.face {
  height: 60px;
  width: 40px;
  cursor: pointer;
}
.insta {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.spons {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  cursor: pointer;
}

@media (min-width: 1000px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .social {
    padding-top: 150px;
  }
}
